* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  /************ zad2 style **************/
  margin-left: 20px;
}
img {
  display: block;
  max-width: 100%;
}
 #date-selector {
  font-size: 28px;
}
button[type="button"] {
  font-size: 30px;
  margin-left: 5px;
}
.timer {
  text-transform: uppercase;
  display: flex;
}
.field {
  display: flex;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  font-size: 22px;
}
.value {
  padding-top: 20px;
  font-size: 50px;
  font-weight: 500;
}

input[type="number"] {
  width: 80px;
}